* {
    box-sizing: border-box;
    /* margin: 0; */
  
  }
  


:root {
  --primary-blue: #0242a5;
  --gray-primary: #343131;
}
  body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;


  }


.greeting {
   font-size: 3rem;
  color: rgb(255, 255, 255);
}
@media (max-width:600px) {
  .greeting {
    padding-top: 10px;
    font-size: 2rem;
   color: rgb(255, 255, 255);
 }
}

.intro {
  font-size: 23.333px;
  color: #ffffff;
  padding-bottom:30px;

}

.Ellipse_1 {
  border-width: 11px;
  -ms-border-width: 11px;

  border-style: solid;
  -ms-border-style: solid;

  border-color: rgb(255, 255, 255);
  -ms-border-color: rgb(255, 255, 255);

  border-radius: 50%;
  background-image: url(../img/kc4.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  vertical-align: middle;
  text-align: center;
  position: relative;
  /*z-index: 32;*/
  width: 281px;
  height: 281px;
  top: 210px;
}
.bannerz {
  -webkit-box-shadow: 0px 3px 4.65px 0.35px rgba(35, 34, 34, 0.27);
  box-shadow: 0px 3px 4.65px 0.35px rgba(35, 34, 34, 0.27);
  background-image: url("../img/boom.webp");
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  vertical-align: middle;
  width: 100%;
  height: 400px;
  margin-bottom: 55px;
}


  .appbar {
    height: 50px;
    z-index:1;
    width: 100%;
    background-color: var(--primary-blue);
    position: relative;
    box-shadow: 0px 3px 4.65px 0.35px rgba(35, 34, 34, 0.27);
    position:fixed;

  }

  .appbar > .appbar-header {
    display: inline;
  }
  .appbar > .appbar-header > .appbar-title a {
    text-decoration: none;
    color: #fff;

    }
  .appbar > .appbar-header > .appbar-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }

  .appbar > .appbar-btn {
    display: none;
  }

  .appbar > .appbar-links {
    display: inline;
    float: right;
    font-size: 18px;
  }

  .appbar > .appbar-links > a {
    display: inline-block;
    padding: 13px 10px 9px 10px;
    text-decoration: none;
    color: #efefef;
  }

  .appbar > .appbar-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .appbar > #appbar-check {
    display: none;
  }

  @media (max-width:600px) {
    .appbar > .appbar-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .appbar > .appbar-btn > label {
      display: inline-block;
      width: 50px;
      /* height: 50px; */
      padding: 13px;
    }
    .appbar > .appbar-btn > label:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .appbar > .appbar-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .appbar > .appbar-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: rgba(0,0,0,0.9);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .appbar > .appbar-links > a {
      display: block;
      width: 100%;
    }
    .appbar > #appbar-check:not(:checked) + .appbar-links {
      height: 0px;
    }
    .appbar > #appbar-check:checked + .appbar-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }





  .side-menu{
    display: none; 
  }

  
  }


  .card {
    margin: 10px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: start;
    background-color: #ffffff4f;
    box-shadow: 0px 0px 6px 1px #3d3d3d27;
    border-radius: 3px;
    padding: 5px;
    max-width: 360px;
  }



.card-title {
    font-size: 2rem;

}


.card-title > a {
  text-decoration: none;
  font-weight: bold;

  text-transform: capitalize;
}
.card-body {
padding: 5px;

}

.date {
  opacity: 0.6;
  margin: 0;
  font-size: 1rem;
}
.tags > a {
  text-decoration: none;

}

.body {
  font-size: 1.3rem;
} 




form {
  width: 300px;
  display: flex;
  flex-flow: column;
}




.side-menu {
  /* width: 360px; */
  background: #343131;
}


.side-body  > p > a {
  color: white;
  font-weight: 700;
  text-decoration: none;
  }
  
  
  .side-item{
      padding: 0px;
      height: fit-content;
      display: flex;
      text-transform: capitalize;
      align-items: center;
      padding: 0px 10px 0px 10px;
  }
  .side-item:hover {
  
      background-color: rgba(153, 147, 147, 0.568);
  }
  
  body{
      padding:0;
      font-family: 'Montserrat', sans-serif;
  }
  

  
  .side-head {
      font-weight: 700;
  
      background-color: var(--primary-blue);
      color: rgb(255, 255, 255);
      height: 80px;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      font-size: 1.9rem;
  
  
  }
  
  .side-footer {
      color: rgb(255, 255, 255);
      padding: 0px 10px 10px 10px;
  
  }



  .contact-form {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 300px;
  }





  code{
        
    background-color: var(--primary-blue) ;
    min-width: 300px;
    width: 100%;
    max-height: 300px;
    color: white;
    font-size: 1rem;
    display: block;
    overflow-x: auto;
    margin: 0;

    font-family: Operator Mono A,Operator Mono B,Source Code Pro,Menlo,Consolas,Monaco,monospace;

}

pre {
    margin: 0;
    tab-size: 2;
    overflow-x: auto;
    min-width: 300px;
    width: 100%;
    /* max-height: 300px; */
}

pre::before { 
  
  padding:5px;
    border-radius: 2px;
    color:white;
    content: 'python'; display: block; 
    background-color: var(--gray-primary); 
  }