{% extends "base.html" %}
{% block content %}
<section style="padding-top: 70px;">

    
<div class="container-fluid">
    <h1>My Repos</h1>
    
    <div class="row">
        {% for repo in repos %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-title">
                            <a href="{{ repo.url }}" target="_blank">
                                {{ repo.name }}
                            </a>
                        </div>
                        <div class="card-body">
                            {{ repo.description}}
                        </div>
                    </div>
                </div>
        {% endfor %}

</div>
    
    {% include "repos/pagination.html" with page=repos %}
</div>
    
    

</section>

{% endblock %}