{% extends "base.html" %}
{% load social_share %}

{% load blog_tags %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}


<section style="padding-top: 70px; " class="animate__animated animate__fadeIn animate__slow">
    <div class="container-fluid">
        <div class="row">

            <div style="padding:0;" class="col-md-3 col-xs-12 side-menu">
                <div class="side-head">
                    Similar Posts

                </div>
                <div class="side-body">
                    {% for post in similar_posts %}
                    <p class="side-item">
                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </p>
                    {% empty %}
                    
                    <p style="color:white">
                        There are no similar posts yet.
                    </p>
                    {% endfor %}
                </div>
                <div class="side-footer">
                    <h3>last updated</h3>
                    <p>{{ post.updated }}</p>
                    <p>
                        {% post_to_facebook object_or_url "Share on Facebook!"  %}
                    </p>
                    <p>
                        {% post_to_twitter object_or_url "Share on Twitter" %}
                    </p>
                    <p>
                        {% post_to_reddit  object_or_url "Share on Reddit" %}
                    </p>



                </div>
            </div>
            
            <div class="col-md-offset-3 col-md-9 col-xs-12">
                
                <h1 class="title" >{{ post.title }}</h1>

                <p class="date">
                    Published {{ post.publish }} by {{ post.author }}
                </p>
                <div class="body">
                    <p>
                        {{ post.body|markdown }}
                    </p>
                </div>
                
                {% include "blog_footer.html" %}

            </div>    
        </div>
    </div>    
</section>
{% endblock %}
