<article style="background-color:#0242a5; color:white;">

    <div class="container-fluid">

            <div class="row">
                    <h1 class="mx-auto" id="heading">
                        Design Workflow
                    </h1>
            </div>
    
    
    
            <div class="row">
                <div class="col-sm-8">
                    <h1>
                        Wireframe
                        
                    </h1>
                    <p class="wireframe-desc">
                        Here we workout the layout (where thing go) on the page for everything from mobile to desktop.
                    </p>     
                </div>

                <div class="col-sm-4">
                    <img src="../../../static/img/svg/wireframe.svg">
                </div>
            </div>
            


        <div class="row">
                <div class="col-sm-4">
                        <img src="../../../static/img/svg/PS5.svg">
                </div>
                <div class="col-sm-8">
                    <h1>
                        Photoshop
    
                    </h1>
                    <p class="photoshop-desc">
                        Here is where we start to bring your site to life, by exploring various color theme, designing UI elements or using a well know UI framework such as Material-ui or bootstrap to users a familiar User Experience. Then we export the design slices for the next phase.
                    </p>     
                </div>
    
            </div>
    
    
            <div class="row">
                    <div class="col-sm-5">
                        <h1>
                            HTML & CSS
        
                        </h1>
                        <p class="html-desc">
                                Finally, with some page content and design slices from photoshop, what well be the initial design can be implemented and tested.
                        </p> 
                        
                    </div>
                    <div class="col-sm-7">
                        <img src="../../../static/img/svg/html.svg">
                    </div>
            </div>
    
            </div>
    
    </article>